@font-face {
    font-family: 'Nexa';
    src:    url('assets/fonts/NEXA-LIGHT.OTF'),
            url('assets/fonts/NexaLight.woff'),
            url('assets/fonts/NexaLight.woff2'),
            url('assets/fonts/NexaLight.svg');
    font-weight: 300; 
}

@font-face {
    font-family: 'Nexa';
    src:    url('assets/fonts/NEXA-BOLD.OTF'),
            url('assets/fonts/NexaBold.woff'),
            url('assets/fonts/NexaBold.woff2'),
            url('assets/fonts/NexaBold.svg');
    font-weight: bold; 
}

html, body {
    margin: 0;
    background-color: #0a2320;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    padding: 8px 18px;
    font-family: 'Nexa';
    font-weight: bold !important;
    border-radius: 25px;

    &--transparent {
        background: transparent;
        border: 2px solid #1eeb9a;
        box-shadow: 0px 0px 4px 2px #1eeb9a;
        color: #1eeb9a !important;
    }

    &--green {
        background-color: #1eeb9a;
        color: #0a2320;
    }

    &--dark-green {
        background-color: #092322;
        color: #1eeb9a;
    }
}

/* -- Header -- */
header {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        img.logo {
            width: 20%;
        }

        ul.menu {
            width: 80%;
            list-style: none;
            display: flex;
            justify-content: space-between;

            li {
                a {
                    font-family: 'Nexa';
                    font-weight: 300;
                    color: #fff;

                    &:after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 2px;
                        margin-top: 5px;
                        background-color: #1eeb9a;
                        box-shadow: 0px 0px 8px 2px #1eeb9a;
                        opacity: 0;
                    }
                }

                a.btn {
                    &:after {
                        content: none;
                    }
                }

                &:hover {
                    a {
                        color: #1eeb9a;
                        
                        &:after {
                            opacity: 1;
                        }
                    }

                }
            }
        }
    }
}

main {
    section#intro {
        .text {
            padding-left: 80px;

            h1 {
                font-family: 'Nexa';
                font-weight: bold;
                font-size: 48px;
                color: #fff;
            }
    
            p {
                font-family: 'Nexa';
                font-weight: 300;
                font-size: 20px;
                line-height: 28px;
                color: #a2c986;
                white-space: pre-line;
    
                strong {
                    color: #fff;
                }
            }
        }
    }
}

/*.Rectangle_1_copy {
    background-image: -moz-linear-gradient( 27deg, rgb(0,255,176) 0%, rgb(0,243,91) 100%);
    background-image: -webkit-linear-gradient( 27deg, rgb(0,255,176) 0%, rgb(0,243,91) 100%);
    background-image: -ms-linear-gradient( 27deg, rgb(0,255,176) 0%, rgb(0,243,91) 100%);
    position: absolute;
    left: 0px;
    top: 577px;
    width: 1280px;
    height: 576px;
    z-index: 31;
}*/