html, body {
    margin: 0;
    background-color: #0a2320;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@font-face {
    font-family: 'Nexa';
    src:    url('assets/fonts/NEXA-LIGHT.OTF'),
            url('assets/fonts/NexaLight.woff'),
            url('assets/fonts/NexaLight.woff2'),
            url('assets/fonts/NexaLight.svg');
    font-weight: 300; 
}

@font-face {
    font-family: 'Nexa';
    src:    url('assets/fonts/NEXA-BOLD.OTF'),
            url('assets/fonts/NexaBold.woff'),
            url('assets/fonts/NexaBold.woff2'),
            url('assets/fonts/NexaBold.svg');
    font-weight: bold; 
}

/* -- Header -- */
header {
    .navbar {
        display: flex;
        justify-content: space-between;

        img.logo {
            width: 20%;
        }

        ul.menu {
            width: 80%;
            list-style: none;
            display: flex;
            justify-content: space-between;

            li {
                a {
                    font-family: 'Nexa';
                    font-weight: 300;
                    color: #fff;
                }
            }
        }
    }
}

/*.Rectangle_1_copy {
    background-image: -moz-linear-gradient( 27deg, rgb(0,255,176) 0%, rgb(0,243,91) 100%);
    background-image: -webkit-linear-gradient( 27deg, rgb(0,255,176) 0%, rgb(0,243,91) 100%);
    background-image: -ms-linear-gradient( 27deg, rgb(0,255,176) 0%, rgb(0,243,91) 100%);
    position: absolute;
    left: 0px;
    top: 577px;
    width: 1280px;
    height: 576px;
    z-index: 31;
}*/