@font-face {
    font-family: 'Nexa';
    src:    url('assets/fonts/NEXA-LIGHT.OTF'),
            url('assets/fonts/NexaLight.woff'),
            url('assets/fonts/NexaLight.woff2'),
            url('assets/fonts/NexaLight.svg');
    font-weight: 300; 
}

@font-face {
    font-family: 'Nexa';
    src:    url('assets/fonts/NEXA-BOLD.OTF'),
            url('assets/fonts/NexaBold.woff'),
            url('assets/fonts/NexaBold.woff2'),
            url('assets/fonts/NexaBold.svg');
    font-weight: bold; 
}

html, body {
    margin: 0;
    background-color: #0a2320;
}

h1,h2,h3,h4,h5,h6,p,a,b,span {
    font-family: 'Nexa';
}

a {
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 24px;
    white-space: pre-line;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    padding: 8px 18px;
    font-weight: bold !important;
    border-radius: 25px;
    cursor: pointer;

    &--transparent {
        background: transparent;
        border: 2px solid #1eeb9a;
        box-shadow: 0px 0px 4px 2px #1eeb9a;
        color: #1eeb9a !important;
    }

    &--green {
        background-color: #1eeb9a;
        color: #0a6057;
    }

    &--dark-green {
        background-color: #092322;
        color: #1eeb9a;
    }
}

/* -- Header -- */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #0a232098;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        &>a {
            width: 15%;

            img.logo {
                width: 100%;
            }
        }

        button.hambg {
            display: none;
        }

        ul.menu {
            width: 75%;
            list-style: none;
            display: flex;
            justify-content: space-between;

            li {
                a {
                    font-weight: 300;
                    color: #fff;

                    &:after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 2px;
                        margin-top: 5px;
                        background-color: #1eeb9a;
                        box-shadow: 0px 0px 8px 2px #1eeb9a;
                        opacity: 0;
                    }
                }

                a.btn {
                    &:after {
                        content: none;
                    }
                }

                &:hover {
                    a {
                        color: #1eeb9a;
                        
                        &:after {
                            opacity: 1;
                        }
                    }

                }
            }
        }
    }
}

main {
    section#intro {
        background-image: url('assets/images/bg.png');
        background-size: 100%;
        background-repeat: no-repeat;
        padding-bottom: 120px;

        .text {
            padding-left: 80px;
            padding-top: 200px;

            h1 {
                font-weight: bold;
                font-size: 48px;
                color: #fff;
                margin-bottom: 0;
            }
    
            p {
                font-weight: 300;
                font-size: 18px;
                line-height: 24px;
                color: #a2c986;
                white-space: pre-line;
    
                strong {
                    color: #fff;
                }
            }

            .download {
                .links {
                    display: flex;

                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    section#oque {
        background-image: -moz-linear-gradient( 27deg, rgb(0,255,176) 0%, rgb(0,243,91) 100%);
        background-image: -webkit-linear-gradient( 27deg, rgb(0,255,176) 0%, rgb(0,243,91) 100%);
        background-image: -ms-linear-gradient( 27deg, rgb(0,255,176) 0%, rgb(0,243,91) 100%);
        position: relative;
        padding-top: 180px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;;
            background-image: url('assets/images/green-block2.png');
            background-size: 100px;
            background-position: right 180px;
            background-repeat: no-repeat;
        }

        .content {
            display: flex;
            align-items: center;
            width: 100%;
            margin: 0 auto;

            .text {
                h2 {
                    font-weight: bold;
                    font-size: 48px;
                    margin: 0;
                }
            }
        }
    }

    section#estabelecimentos {
        background-color: #fff;
        background-image: url('assets/images/green-block3.png');
        background-size: 100px;
        background-position: left 180px;
        background-repeat: no-repeat;

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 180px;
            padding-bottom: 80px;

            .text {
                padding-left: 80px;

                h2 {
                    color: #0a6057;
                    font-size: 48px;
                    margin: 0;
                }

                p {
                    color: #0a6057;
                }
            }
        }
    }

    section#midia {
        background-image: url('assets/images/green-block4.png');
        background-size: 100px;
        background-position: left 180px;
        background-repeat: no-repeat;
    
        .content {
            display: flex;
            justify-content: space-between;
            width: 95%;
            margin: 0 auto;
            padding: 180px 0 80px;
            
            .texts {
                width: 55%;
                display: flex;
                align-items: flex-start;

                .owl-carousel {
                    width: 100%;

                    .owl-dots {
                        text-align: left;

                        .owl-dot {
                            span {
                                width: 10px;
                                height: 10px;
                                margin: 5px;
                                background: transparent;
                                border: 2px solid #1eeb9a;
                                box-shadow: 0px 0px 4px 2px #1eeb9a;
                            }

                            &.active {
                                span {
                                    background: #1eeb9a;
                                }
                            }
                        }
                    }
                }

                img {
                    margin-right: 20px;
                }

                .articles {
                    .item {
                        p {
                            margin: 0;
                            color: #fff;
                            font-size: 18px;
                            line-height: 24px;

                            strong {
                                color: #a2c986;
                                font-size: 24px;
                            }
                        }

                        img.midia-logo {
                            width: 20%;
                            margin-top: 30px;
                            margin-right: 50px;
                            float: right;
                        }
                    }
                }
            }

            .title {
                h2 {
                    margin: 0;
                    font-size: 46px;
                    color: #fff;
                }

                p {
                    margin: 0;
                    font-size: 18px;
                    color: #a2c986;

                    strong {
                        color: #fff;
                    }
                }
            }
        }
    }

    section#implantarapp {
        background-image: -moz-linear-gradient( 27deg, rgb(0,255,176) 0%, rgb(0,243,91) 100%);
        background-image: -webkit-linear-gradient( 27deg, rgb(0,255,176) 0%, rgb(0,243,91) 100%);
        background-image: -ms-linear-gradient( 27deg, rgb(0,255,176) 0%, rgb(0,243,91) 100%);

        .content {
            padding: 180px 0 80px 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .text {
                h2 {
                    font-weight: bold;
                    font-size: 48px;
                    margin: 0;
                }
            }

            .form {
                form {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;

                    input {
                        width: 100%;
                        padding: 8px 16px;
                        border-radius: 25px;
                        background-color: #fff;
                        border: none;
                        font-family: 'Nexa';
                        font-weight: 300;
                        font-size: 14px;
                        margin-bottom: 12px;

                        &:focus {
                            outline: none;
                        }
                    }

                    button {
                        border: none;
                        float: right;
                        margin: 0;
                    }
                }
            }
        }
    }

    section#contato {
        background-image: url('assets/images/green-block5.png');
        background-size: 100px;
        background-position: left 180px;
        background-repeat: no-repeat;

        .content {
            padding: 180px 0 80px 80px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .info {
                width: 30%;

                h2 {
                    margin: 0;
                    font-size: 46px;
                    color: #fff;
                }

                p {
                    color: #1eeb9a;

                    strong {
                        color: #fff;
                    }
                }

                a {
                    color: #a2c986;
                    text-decoration: underline;
                }

                .social {
                    display: flex;
                    
                    a {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

//Mobile
@media screen and (max-width: 980px) {
    .container {
        padding: 0 20px;
    }

    header {
        .navbar {
            justify-content: flex-start;

            button.hambg {
                display: block;
                background: transparent;
                border: none;
                width: 46px;

                img {
                    width: 100%;
                }
            }

            &>a {
                width: 40%;
                margin-left: calc((100% - 40% - 46px) / 2);
                margin-right: calc((100% - 40% - 46px) / 2 + 46px);
            }

            ul.menu {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    main {
        section#intro {
            background-image: url('assets/images/bg-mobile-intro.png');
            background-position: center bottom;
            padding-bottom: 400px;

            .text {
                padding-top: 64px;
                padding-left: 0;
                width: 80%;
                margin: 0 auto;

                h1 {
                    font-size: 36px;
                    line-height: 1.2;
                }

                p {
                    white-space: normal;

                    strong {
                        color: #a2c986;
                    }
                }
                  
            }
        }

        section#estabelecimentos {
            .content {
                .text {
                    width: 100%;
                    padding-left: 0;
                }
            }
        }

        section .content {
            flex-wrap: wrap !important;
            padding-left: 0 !important;
        }
    }
}